<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" style="height: 20px;">
    <ul class="navbar-nav me-auto">
      <a class="nav-link active" ng-href="#/">Home</a>
      <a ng-href="#/planes" class="nav-link active">back</a>
      <a ng-href="#/planes/{{vm.plane._id}}/userCountries" class="nav-link active">UserCountries</a>
    </ul>
    <form class="d-flex">
      <input class="form-control me-sm-2" type="text" placeholder="Search" ng-model="searchText">

      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>


  </div>
</nav>
<h1 style="color:rgb(0, 0, 0)">Plane </h1>


<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">
    {{vm.plane.name}}
  </div>
  <div class="card-body">
    <p class="card-text">
      <span>Country : </span>{{vm.plane.country}} <br />
      <span>Started Service : </span> {{vm.plane.created | date:"short"}} <br />
    </p>
  </div>
</div>




<button class="btn btn-primary" ng-click="vm.deleteAPlane()">
  <a ng-href="#/planes/" style="color:rgb(27, 0, 61)">Delete</a></button>



<div>
  <form name="vm.planeForm" ng-submit="vm.updateAPlane()" class="form-group">
    <h3>To update a Plane please fill in all the fields below:</h3>
    <p><label>Name:</label>
      <input type="text" name="name" required ng-model="vm.newPlaneName" style="color:black" /><BR />
    </p>
    <p><label>Country:</label>
      <input type="text" name="country" required ng-model="vm.newPlaneCountry" style="color:black" /><BR />
    </p>
    <p><label>Created On:</label>
      <input type="date" name="created" required ng-model="vm.newPlaneCreated" style="color:black" /><BR />
    </p>
    <button type="submit" class="btn btn-success">Update</button><BR />
  </form>
</div>