<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid"  style="height: 20px;">
         <ul class="navbar-nav me-auto">
            <a class="nav-link active" ng-href="#/planes/">Planes</a>
          </ul>
  </div>
</nav>

<h1>Register</h1>
<div ng-if="vm.message" class="alert alert-success" role="alert">
    <p>{{ vm.message}}</p>
  </div>
  <div ng-if="vm.err" class="alert alert-danger" role="alert">
    {{vm.err}}
  </div>
  <form ng-hide="vm.message" name="register" ng-submit="vm.register()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" class="form-control" id="username" 
      placeholder="Username" ng-model="vm.username" autocapitalize="none" style="width: 50%;"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" 
      placeholder="Password" ng-model="vm.password" autocapitalize="none" style="width: 50%;"/>
    </div>
    <div class="form-group">
      <label for="password-repeat">Repeat Password</label>​
      <input type="password" class="form-control" id="password-repeat" 
      placeholder="Password" ng-model="vm.passwordRepeat" autocapitalize="none" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" 
        placeholder="Name" ng-model="vm.name" autocapitalize="none" style="width: 50%;"/>
      </div>​
  <button type="submit" class="btn btn-success">Register</button>​
</form>

